---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MobileNav from '../components/MobileNav.astro';
import SurveyTimelinesSection from '../components/SurveyTimelinesSection.astro';
---

<Layout title="Decide Perú · Encuestas">
  <Navbar currentPage="encuestas" />

  <main class="min-h-screen pt-20 pb-24 md:pb-0">
    <SurveyTimelinesSection />
  </main>

  <MobileNav currentPage="encuestas" />

  <script type="module" src="/script.js" is:inline></script>
</Layout>
