---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MobileNav from '../components/MobileNav.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Decide Perú · Inicio">
  <Navbar currentPage="home" />

  <main class="min-h-screen pb-24 md:pb-0">
    <HeroSection />
  </main>

  <MobileNav currentPage="home" />
</Layout>
