---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MobileNav from '../components/MobileNav.astro';
import HeroSection from '../components/HeroSection.astro';
import StepsSection from '../components/StepsSection.astro';
import PolymarketSection from '../components/PolymarketSection.astro';
import QuestionnaireSection from '../components/QuestionnaireSection.astro';
import ResultsSection from '../components/ResultsSection.astro';
import RankingSection from '../components/RankingSection.astro';
import BreakdownSection from '../components/BreakdownSection.astro';
import { getCollection } from 'astro:content';

const allCandidatos = await getCollection('candidatos');
const candidatosData = allCandidatos.map((c) => c.data);
---

<Layout>
  <Navbar currentPage="home" />

  <main class="min-h-screen pb-24 md:pb-0">
    <HeroSection />
    <StepsSection />
    <PolymarketSection />
    <QuestionnaireSection />
    <ResultsSection />
    <RankingSection />
    <BreakdownSection />
  </main>

  <MobileNav currentPage="home" />

  <script define:vars={{ candidatosData }}>
    window.__CANDIDATOS_DATA__ = candidatosData;
  </script>
  <script src="/script.js" is:inline></script>
</Layout>
